.container {
  width: 80%;
  margin: 0 auto;
}

.submit {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 500px;
  height: 400px;
  display: float;
  float: left;
  margin-right: 50px;
  margin-top: 80px;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
}

.submit:hover {
  /* transform: translate(0, -10%); */
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  margin: 100px;
}

.output {
  margin-top: 550px;
  margin-left: 50px;
  margin-bottom: 100px;
  height: 300px;
}
